body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    margin-top: 100px; /* Ajustamos la distancia desde arriba */
}

h1 {
    font-size: 24px;
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}

#yes {
    transition: transform 0.3s ease;
}

#sticker, #reactionGif {
    width: 150px;
    margin-top: 20px;
    display: none;
}
