body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 24px;
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}

#sticker {
    width: 150px;
    margin-top: 20px;
    display: none; /* Se oculta hasta que el usuario interactúe */
}

